<AnimatedContainer>
  {{#animated-value @date rules=this.rules duration=500}}
    <table class="w-full text-center table-auto">
      <thead>
        <tr class="h-12 border-b border-gray-400 border-1">
          <th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th><th>S</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.month as |week|}}
          <tr class="text-xs border-b border-gray-200 border-1">
            {{#each week as |day|}}
              <Calendar::Grid::Cell
                @currentDate={{@date}}
                @date={{day}}
                @events={{@events}}
                @selectDay={{@selectDay}}
              />
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/animated-value}}
</AnimatedContainer>
