h1 {
  border-bottom: 1px solid $Gray300;
  padding: 10px 0px 10px 20px;
  margin: 0px;
  color: $Gray800;
  border-radius: 10px;
  font-size: $fontsize05;
}

.activity-options {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    padding: 10px 0px 10px 20px;
    & svg {
      width: 20px;
      padding-right: 10px;
      color:$Red600;
    }

    & a {
      text-decoration: none;
      color: $Gray900;
    }
  }
}

.icon-border {
  background-ccolor: $Red600;
}