.tab {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid $Gray400;
  background-color: $Gray200;
  box-shadow: 0px -1px 2px $Gray400;
  text-align: center;
  margin-bottom: 10px;
}

.tab-button {
  background-color: inherit;
  //float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab-active {
  font-weight: bold;
  color: $Red700;
  border-bottom: 3px solid $Red700;
}