// required for ember-component-css
@import "pod-styles";

body {
  margin: 0;
  background-color: #dddddd50;
}

input {
  padding: 10px;
  font-size: 1.4em;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: none;
  line-height: 20px;
}

input:focus {
  padding: 8px;
  border: 2px solid orangered;
}

@import "application";
@import "measures";