.nav-btn span {
  @apply p-4;
  @apply border-t-4;
  @apply border-transparent;
  @apply inline-block;
}

#nav-index.active span {
  @apply text-red-600;
  @apply border-red-600;
}
#nav-calendar.active span {
  @apply text-yellow-500;
  @apply border-yellow-500;
}
#nav-routines.active span {
  @apply text-green-400;
  @apply border-green-400;
}
#nav-statistics.active span {
  @apply text-blue-400;
  @apply border-blue-400;
}
#nav-settings.active span {
  @apply text-pink-400;
  @apply border-pink-400;
}

.row-height {
  height: calc((100vh - 165px)/6);
}

.cell-width {
  width: calc(100vw/7);
}

.page-height {
  height: calc(100vh - 111px);
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
  stroke: #2B6CB0 !important;
}