<div class="h-full">
  <header class="py-2 text-center border-b-2 border-blue-400">
    <span class="font-sans text-lg font-semibold text-gray-800">Statistics</span>
  </header>
  <section class="overflow-y-auto page-height">
    {{#if this.userMeasures}}
      <Bmi @measures={{this.userMeasures}} />
      <MeasuresInline @measures={{this.lastMeasures}} />
      <MeasuresChart @model={{this.statistics}} @measures={{this.userMeasures}} />
    {{/if}}
  </section>
</div>