<div class="measures-container">
  <header>
    Measures {{#link-to "measures.new"}}<FaIcon @icon='plus-square'/>{{/link-to}}
  </header>
  <section>
    {{#each model as |trainingDay|}}
      <div class="item">
        {{format-date trainingDay.day}}
        {{#link-to "measures.show" trainingDay.measureId}}<FaIcon @icon='external-link-alt'/>{{/link-to}}
      </div>
    {{/each}}
  </section>
</div>