<div class="flex items-center justify-center w-full mt-5">
  <svg height="180" width="160">
    <circle cx="80" cy="90" r="80" fill="#E0E0E0"></circle>
    <circle cx="80" cy="90" r="72" fill="#FFFFFF"></circle>
    <circle
      cx="80"
      cy="90"
      r="76"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="20"
      stroke={{this.bmiResult}}
      transform="rotate(-180 80 90)"
    ></circle>
    <text text-anchor="middle" x="80" y="90">
      <tspan class="text-4xl" fill={{this.bmiResult}}>
        {{this.bmi}}
      </tspan>
      <tspan class="text-2xl" x="77" dy="1.2em" fill={{this.bmiResult}}>
        BMI
      </tspan>
    </text>
  </svg>
  <div class="flex flex-col ml-4">
    <div class="flex flex-row mb-2">
      <svg width="20" height="20">
        <rect width="20" height="20" fill="#E53E3E" />
      </svg>
      <span class="ml-2 leading-tight text-red-700">overweight</span>
    </div>
    <div class="flex flex-row mb-2">
      <svg width="20" height="20">
        <rect width="20" height="20" fill="#2B6CB0" />
      </svg>
      <span class="ml-2 leading-tight text-blue-700">normal</span>
    </div>
    <div class="flex flex-row mb-2">
      <svg width="20" height="20">
        <rect width="20" height="20" fill="#ECC94B" />
      </svg>
      <span class="ml-2 leading-tight text-yellow-700">underweight</span>
    </div>
  </div>
</div>