<div class="w-full flex items-center justify-center mt-5">
  <svg height="180" width="160">
    <circle cx="80" cy="90" r="80" fill="#E0E0E0"></circle>
    <circle cx="80" cy="90" r="72" fill="#FFFFFF"></circle>
    <circle
      cx="80"
      cy="90"
      r="76"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="20"
      stroke="{{this.bmiResult}}"
      transform="rotate(-180 80 90)"
    ></circle>
    <text text-anchor="middle" x="80" y="90">
      <tspan class="text-4xl" fill={{this.bmiResult}}>
        {{this.bmi}}
      </tspan>
      <tspan class="text-2xl" x="77" dy="1.2em" fill={{this.bmiResult}}>
        BMI
      </tspan>
    </text>
  </svg>
</div>