<div class="w-full h-full overflow-hidden">
  <div class='relative'>
    <div class='wave bottom'></div>
    <div class='wave middle'></div>
    <div class='wave top'></div>
    <div class="absolute z-10 w-screen">
       {{yield}}
    </div>
  </div>
</div>