<div class="h-full">
  <header class="border-b-2 border-pink-400 py-2 text-center">
    <span class="font-sans font-semibold text-lg text-gray-800">Settings</span>
  </header>
  <section>
  </section>
</div>