<div class="h-full">
  <header class="flex flex-col items-center border-b-2 border-red-600 py-2 text-center">
    <span class="block text-red-600">{{svg-jar "title" class="fill-current"}}</span>
  </header>
  {{outlet}}
</div>