<div class="h-full">
  <header class="flex flex-col items-center py-2 text-center border-b-2 border-red-600">
    <span class="block text-red-600">{{svg-jar "title" class="fill-current"}}</span>
  </header>
  <section class="overflow-y-auto page-height">
    <Waves>
      <div class="py-10 text-center">
        <span class="font-serif text-2xl tracking-widest text-white uppercase">Today</span>
      </div>
    </Waves>
  </section>
</div>