<nav>
  {{#link-to "calendar"}}<FaIcon @icon="calendar" />{{/link-to}}
  {{#link-to "index"}}<FaIcon @icon="home" />{{/link-to}}
  {{#link-to "statistics"}}<FaIcon @icon="chart-bar" />{{/link-to}}
</nav>