<nav>
  <ul>
    <li>{{#link-to "calendar" current-when="calendar"}}<FaIcon @icon="calendar" />{{/link-to}}</li>
    <li>{{#link-to "index" current-when="index"}}<FaIcon @icon="home" />{{/link-to}}</li>
    <li>{{#link-to "statistics" current-when="statistics"}}<FaIcon @icon="chart-bar" />{{/link-to}}</li>
    <li>{{#link-to "index" current-when="index"}}<FaIcon @icon="cogs" />{{/link-to}}</li>
  </ul>
</nav>