<nav>
  <ul>
    <li>{{#link-to "calendar"}}<FaIcon @icon="calendar" />{{/link-to}}</li>
    <li>{{#link-to "index"}}<FaIcon @icon="home" />{{/link-to}}</li>
    <li>{{#link-to "statistics"}}<FaIcon @icon="chart-bar" />{{/link-to}}</li>
  </ul>
</nav>