& {  
  & table {
    & th {
      height: 45px;
      width: calc(100vw / 7);
      border-bottom: 1px solid lightgray;    
    }
    & td {
      height: calc((100vh  - 130px) / 5);
      border: 1px solid lightgray;
      text-align: center;
    }
  }
}