& {  
  height: 100%;
  & table {
    border-collapse: collapse; 

    & th {
      height: 45px;
      width: calc(100vw / 7);
      text-align: center; 
      border-bottom: 1px solid lightgray;
    }

    & tr {
      border-bottom: 1px solid #ececec;
    }

    & td {
      height: calc((100vh  - 130px) / 5);
      vertical-align: top;
      text-align: center;
    }
  }
}

.day-number {
  font-size: 0.7em;
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-top: 5px;
  color: #cecece;
}

.today {
  background-color: #2574fd;
  color: white !important;
  border-radius: 50%;
}

.current-month {
  color: #333;
}

.animated-container {
  position: inherit;
}