
 <table>
  <tr>
    <th>MON</th>
    <th>TUE</th>
    <th>WED</th>
    <th>THU</th>
    <th>FRI</th>
    <th>SAT</th>
    <th>SUN</th>
  </tr>
  {{#each this.month as |week|}}
    <tr>
      {{#each week as |day|}}
        <td>{{day}}</td>
      {{/each}}
    </tr>
  {{/each}}
</table>