<AnimatedContainer>
  {{#animated-value @date rules=this.rules duration=500}}
    <table>
      <tr>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
        <th>S</th>
      </tr>
      {{#each this.month as |week|}}
        <tr>
          {{#each week as |node|}}
            <td {{on "click" (fn @selectDay node.eventId)}}>
              <span class="day-number {{if node.isCurrentMonth "current-month"}} {{if node.isToday "today"}} ">{{node.day}}</span>
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </table>
  {{/animated-value}}
</AnimatedContainer>
 