<div class="h-full">
  <header class="py-2 text-center border-b-2 border-green-400">
    <div class="flex justify-between px-2">
      <div></div>
      <span class="block font-sans text-lg font-semibold text-gray-800">Routines</span>
      <span class="block text-green-400">{{svg-jar "add-24px" class="fill-current"}}</span>
    </div>
  </header>
  {{outlet}}
</div>