<div class="flex flex-col items-center mt-2"
  {{did-insert this.initChart @chartId @propertyToRender @data @period @date}}
  {{did-update this.initChart @chartId @propertyToRender @data @period @date}}>
  <h3 class="font-bold text-lg text-blue-700 uppercase">{{@title}}</h3>
  <div id={{@chartId}} class="w-full"></div>
</div>
