<header class="page-header to-right-header">
  Measures
</header>
<section class="page-body">
  <MeasuresForm 
    @model={{this.model}}
    @transitionBack={{this.transitionBack}}
    @delete={{this.delete}}
    @save={{this.save}}
  />
</section>