<div class="page-container">
  <header class="to-right-header">
    Measures
  </header>
  <section>
    <MeasuresForm 
      @model={{this.model}}
      @transitionBack={{this.transitionBack}}
      @delete={{this.delete}}
      @save={{this.save}}
    />
  </section>
</div>